body {
    margin: 0;           
}
iframe {
    display: block;      
    background: #000;
    border: none;         
    height: 100vh;        
    width: 100vw;
    
}
#container{
    width: 480px;
    padding-left: 300px;
}
#slider{
    position: relative;
    width:265%;
}